* {
  box-sizing: border-box;
  }

.header {
  background-color: yellow;
  display: inline-block;
  width: 100%;
}

p {
  text-align: center;
  text-transform: uppercase;
  margin: 40px auto 40px auto;
}

.section {
  text-align: center;
  text-transform: uppercase;
}

img .blog {
  position: relative;
  width: 80%;
  margin: 0 auto 0 auto;
}


.footer {
  text-align: left;
  background-color: yellow;
  position: relative;
  height:auto;
}


  