* {
  font-family :fira sans;
  box-sizing: border-box;
}



.section.hero {
  background-color: #5c8eaa;
  display: inline-block;
  width: 100%;
  height: auto;
} 

.one-half.column h4{ 
  font-size: 35px;
  color: white;
  text-align: center;
  padding-top: 30px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.one-half.column p{
  color: white;
  text-align: center;
  text-transform: lowercase;
  margin:0px auto 0px auto;
}

.one-half.column p{
  color: white;
  text-align: center;
  text-transform: lowercase;
  margin:0px auto 0px auto;
  font-size: 20px;
}
.nav { 
  text-align: center;
  padding-bottom:20px;
}

.nav a {
  padding:0px 10px 0px;
}


a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

p {
  text-align: center;
  text-transform: uppercase;
  margin: 20px auto 20px auto;
}

h1.header-heading{
  color: white;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  padding-bottom: 50px;
}

/* section*/

.section.posts{
  text-align: center;
}


h5.post-title{
  margin-bottom: 10px;
  font-size:large;
  text-transform: uppercase;
  margin-top: 20px;
}

p.post-intro{
  margin:0px auto 10px auto;
  text-transform: lowercase;
}

.article.blog {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.one-third.column.posts{
  margin-bottom: 60px;
}

p.blog {
  text-align: left;
  text-transform: none;
}

h5.blog{
  text-align: left;
  text-transform: capitalize;
}

ol{
  text-align: left;
  text-transform: none;
}

p.blog a {
  color: black;
}

dl {
  text-align: left;
}


/* footer */

.footer {
  text-align: left;
  background-color:#5c8eaa;
  position: relative;
  height:auto;
  color:white;
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.one-third.column.category {
  margin-top: 10px
}

h5.category-type{
  margin-bottom: 0px;
  font-size: 20px;
  text-transform: lowercase;
}

.one-third.column.category p{
  text-transform: capitalize;
  margin-top: 0px;
  text-align: left;
}

@media screen and (min-width: 550px) {
  .one-half.column h4{
    text-align: left;
  }
  .one-half.column p {
    text-align: left;
    font-size: 20px;
  }
  .nav { 
  text-align: right;
  padding-top: 70px;
}
  .section.hero {
    height: 200px;
  }

  .section.posts{
  margin-bottom: 70px;
  }

p.blog, ol, dl {
  font-size: 16px;
}

/*ol{*/
  font-size: 20px;
}
  

