*{
line-height: 1.5em  
}


body {
  font-family: helvetica;
}
/*side header*/
.sidebar {
  position:fixed;
  top:0;
  bottom:0;
  width:25%;
  background-color:#34434F; 
  color: white;
}

.header {
  padding: 50px;
  text-align:right;
  margin-right: 5px;
  margin-top: 50px;

} 
/*navigation links*/

.nav {
  text-align: right;
  padding-right:5px;
}

ul {
  list-style-type: none;
}

a:link{
  color: white;
  text-decoration: none;
}


a:visited{
  color: white;
  text-decoration: none;
}

a:hover {
  color: lime;
}

a:active {
  text-decoration: underline;
}

.app.a:visited {
  color:blue;
}
/*content on home page*/

.content {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  padding:0 10% 0 5%;
}

.content h3 {
  color: #555; 
}


.button {
  background-color: green;
  border: none;
  padding: 15px, 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}

/* posts */

.post {
  margin-left:25%;
  width: 50%;
  margin-top: 50px;
  padding:0 10% 0 5%;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

dt {
  font-weight: bold;
}